body {
    font-family: Arial;
    background: #f4f6f8;
    padding: 40px;
}

h2 {
    text-align: center;
}

form {
    text-align: center;
    margin-bottom: 30px;
}

input, select, button {
    padding: 8px;
    margin: 5px;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background: #2c3e50;
    color: white;
}
